<div class="scroll-bg">
  <div class="scroll-div">
    <div class="scroll-object">
      <form class="form" (ngSubmit)="searchStudent()" autocomplete="off">
        <input
          type="text"
          name="filterStudent"
          [(ngModel)]="filterStudent"
          

          placeholder="Search by name"
        />
      </form>
      <form class="form" (ngSubmit)="searchTag()">
        <input
          type="text"
          name="filterTags"
          [(ngModel)]="filterTags"
          placeholder="Search by tag"
        />
      </form>
      <div *ngIf = "hayError" 
    class="alert alert-danger">
    No se encontró nada con el termino: {{filterStudent}} 
</div>
      <div class="row">
        <div class="col">
          <div class="containerFather" *ngFor="let Student of Students; let ix = index" >
            <!--| filter: filterStudent -->

            <div class="iconoPlus">
              <i class="fas fa-plus fa-2x" (click)="clicking($event)"></i>
            </div>
            <div class="containerSon">
              <div class="imagen">
                <img class="small-pic" [src]="Student.pic" />
              </div>
              <div class="textos">
                <h1>
                  <strong>
                    
                    {{ Student.firstName | uppercase }}
                    {{ Student.lastName | uppercase }}
                  </strong>
                </h1>
                <div class="cuerpo">
                  <p>Email: {{ Student.email }}</p>
                  <p>Company: {{ Student.company }}</p>
                  <p>Skill: {{ Student.skill }}</p>

                  <p>Average: {{ Student.avg }}%</p>

                  <div class="dropdownlist">
                    <div
                      class="dropdownlist__item"
                      *ngFor="let gradesArray of Students; let i = index"
                    >
                      <div
                        class="dropdownlist__item-text"
                        *ngIf="Student.grades[i] != null"
                      >
                        Test {{ i + 1 }}: {{ Student.grades[i] }}
                      </div>
                    </div>
                  </div>

                  
                  <div class="tagsContainer" *ngFor="let StudentTags of Student.tag; let i = index">
                    <div class="Tags" >
                      {{ StudentTags }}
                    </div>
                  </div> 


                    <form class="form" (ngSubmit)="addTag(Student.inputTag)">
                      <!--*ngIf="clearInput.value.length > 0" (keyup)="clearInput.value = ''" -->
                      <input
                        (keyup)="(0)"
                        #clearInput
                        type="text"
                        placeholder="Add a tag"
                        name="nuevo"
                        [(ngModel)]="Student.inputTag"
                      />
                    </form>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

